PORT=4000
MONGODB_URL=mongodb://localhost:27017/Nepal-Trekking-Companion-db
SECRET_KEY=replace_with_a_long_random_secret
EMAIL_USER=myemail@gmail.com
EMAIL_PASS=myemailpassword  
CLIENT_URL=http://localhost:3000
